.container {
  display: flex;
  cursor: pointer;
  margin-bottom: 7px;

  .inputRadio {
    margin-right: 16px;
    cursor: pointer;
  }
  .inputLabel {
    text-transform: capitalize;
    color: #282c3f;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
  }
}
