.container {
  width: 100vw;
  height: 100vh;
  margin: 12px auto 0;
  max-width: 1600px;
  overflow-x: hidden;
  @media (max-width: 768px) {
    margin: 0;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      margin: 0;
      padding: 24px 16px;
    }
    .filterButton {
      width: 60px;
      margin-left: 4px;
      border-radius: 4px;
      background-color: #ff3f6c;
      border: none;
      color: #ffffff;
      font-weight: bold;
      padding: 4px 0;
      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  .title {
    display: flex;
    margin: 10px 0 5px 25px;
    @media (max-width: 768px) {
      margin: 0;
    }
    .text {
      font-size: 16px;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #ff3f6c;
      max-width: 400px;
      text-transform: capitalize;
    }
    .totalCount {
      font-size: 16px;
      color: #878b94;
      white-space: pre-wrap;
    }
  }
  .filterContentWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .leftContainer {
      min-width: 252px;
      max-width: 252px;
      padding-top: 23px;

      @media (max-width: 768px) {
        display: none;
      }
    }
    .rightContainer {
      width: calc(100% - 268px);
      padding-right: 16px;
      @media (max-width: 768px) {
        padding: 16px;
        width: 100%;
      }

      .topWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e9e9ed;

        .toggleWrapper {
          margin-left: 16px;
        }
      }
      .sortWrapper {
        width: 100%;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
      }
    }
  }
}
