.container {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  padding: 9px 14px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: relative;
  width: fit-content;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d4d5d9;
  text-align: left;

  @container layout-root (max-width: 320px) {
    margin: 0 0 0 4px;
  }

  .details {
    display: inline-block;

    .summary {
      width: auto;
      list-style: none;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      .title {
        font-size: 14px;
        color: #282c3f;
      }
      .defaultOption {
        font-weight: 600;
        color: #282c3f;
      }
    }

    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      content: "";
      border-top-style: solid;
      border-top-width: 4px;
      border-right: 4px solid transparent;
      border-bottom: 0 solid transparent;
      border-left: 4px solid transparent;
      margin-left: 5px;
    }

    .menuList {
      position: absolute;
      left: -1px;
      top: auto;
      bottom: auto;
      padding: 0;
      z-index: 99;
      display: flex;
      padding: 10px 0px;
      pointer-events: none;
      flex-direction: column;

      .menuModal {
        width: 255px;
        height: auto;
        max-height: 480px;
        font-size: 12px;
        border: 1px solid #d1d5da;
        border-top: none;
        box-shadow: none;
        animation-name: SelectMenu-modal-animation--sm;
        position: relative;
        z-index: 99;
        display: flex;
        overflow: hidden;
        pointer-events: auto;
        flex-direction: column;
        background-color: #f6f8fa;
        box-sizing: border-box;
        @container layout-root (max-width: 768px) {
          width: 200px;
        }
      }
      @keyframes SelectMenu-modal-animation--sm {
        0% {
          opacity: 0;
          transform: translateY(-16px);
        }
      }

      .menuHeader {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        flex: none;
        padding: 8px 16px;
      }

      .menuTitle {
        flex: auto;
        font-size: 14px;
        font-weight: 600;
      }

      //   .menuList {
      //     position: relative;
      //     padding: 0;
      //     margin: 0 0 -1px;
      //     flex: auto;
      //     overflow-x: hidden;
      //     overflow-y: auto;
      //     background-color: #fff;
      //     border-top: 1px solid #e1e4e8;
      //     -webkit-overflow-scrolling: touch;
      //   }

      .menuItem[aria-checked="true"] {
        font-weight: 500;
        color: #24292e;
      }

      .menuItem {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 270px;
        padding: 8px 16px;
        overflow: hidden;
        color: #586069;
        text-align: left;
        cursor: pointer;
        background-color: #fff;
        border: 0;
        cursor: pointer;

        &:hover {
          background-color: #cccccc1f;
        }

        label {
          cursor: pointer;
          width: 90%;
          max-width: 270px;
        }

        .check-icon {
          width: 16px;
          padding-right: 5px;
          &.xVisible {
            visibility: visible;
          }

          &.xInvisible {
            visibility: hidden;
          }
        }
      }
    }
  }
}
